{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugin": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ]
}